body {
  background: rgba(232, 219, 223, 0.6901960784);
}

.signupform {
  background: white;
  background-image: linear-gradient(to right bottom, #a20c34, #7e0d2e, #5b0d25, #3a0c1a, #1e010a);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text-danger {
  color: rgb(247, 38, 38);
}

.login-box {
  background-color: #fff;
  padding: 40px;
  min-width: 500px;
  max-width: 700px;
  border-radius: 7px;
  border-left: 7px solid #a20c34;
}
.login-box .title {
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
}
.login-box .input-box {
  position: relative;
  margin-bottom: 15px;
}
.login-box .input-box label {
  position: absolute;
  top: 20px;
  left: 5px;
  padding: 14px 5px;
  display: block;
  pointer-events: none;
  transition: 0.2s;
}
.login-box .input-box .view-pass {
  width: 45px;
  position: absolute;
  top: 27px;
  right: 2px;
  cursor: pointer;
  background-color: rgba(236, 236, 236, 0.8);
  padding: 7px 12px;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: none;
}
.login-box .input {
  border: none;
  border-bottom: 1px solid #efefef;
  background-color: #ececec;
  outline: none;
  width: 100%;
  padding: 14px 10px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.05);
}
.login-box button[type=submit] {
  display: block;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  border-left: 2px solid #a00a37;
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
  background: #a20c34;
  background-image: linear-gradient(to right bottom, #a20c34, #7e0d2e, #5b0d25, #3a0c1a, #1e010a);
  margin-top: 30px;
  cursor: pointer;
}
.login-box .auth-action {
  display: flex;
  justify-content: space-between;
}
.login-box .auth-action a {
  display: inline-block;
  padding: 15px 0;
  color: #000;
  text-decoration: none;
  font-size: 14px;
}

.login-box .input-box input:focus ~ label,
.login-box .input-box input:valid ~ label {
  top: -20px;
  left: 2px;
  font-size: 14px;
}

.nav {
  position: relative;
  display: grid;
  height: 120px;
  width: 100%;
  place-items: center;
  background-image: linear-gradient(to right bottom, #a20c34, #7e0d2e, #5b0d25, #3a0c1a, #1e010a);
}
.nav img {
  height: 120px;
}
.nav div {
  position: absolute;
  right: 60px;
  font-size: 30px;
  color: #dddddd;
}

.semi {
  margin-top: 65px;
  text-align: center;
}
.semi h1 {
  color: #a20c34;
}

.team-card {
  position: relative;
  min-width: 340px;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 10px;
  border-radius: 25px;
  min-height: 178px;
}
.team-card .content {
  display: flex;
  align-items: center;
}
.team-card .content h2 {
  margin-top: 5px;
  margin-bottom: 2px;
}
.team-card .content h4 {
  margin: 0;
}
.team-card .content p {
  max-width: 230px;
  text-align: justify;
  font-size: 10px;
}
.team-card .teamimg {
  position: absolute;
  height: 120px;
  top: 50%;
  right: -58%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
}
.team-card .teamimg img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.teams {
  min-height: 80vh;
  margin: 40px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 0.5fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.teams .a,
.teams .c {
  justify-self: start;
}
.teams .b,
.teams .d {
  justify-self: end;
}
.teams .b .content,
.teams .d .content {
  justify-content: end;
}
.teams .cup img {
  height: 400px;
  filter: drop-shadow(0 0 0.75rem rgb(149, 155, 172));
}
.teams .cup {
  grid-column: 2/3;
  grid-row: 1/4;
}

.userdetails {
  display: grid;
  place-items: center;
  min-height: 50vh;
}
.userdetails .styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.userdetails .styled-table thead tr {
  background-color: #a20c34;
  color: #ffffff;
  text-align: left;
}
.userdetails .styled-table th,
.userdetails .styled-table td {
  padding: 12px 15px;
}
.userdetails .styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}
.userdetails .styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.userdetails .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #a20c34;
}
.userdetails .styled-table tbody tr:hover {
  font-weight: bold;
  color: #a20c34;
}

.adminheader {
  height: 100px;
  position: relative;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to right bottom, #a20c34, #7e0d2e, #5b0d25, #3a0c1a, #1e010a);
}
.adminheader div {
  position: absolute;
  right: 80px;
  color: #fff;
  font-size: 45px;
}
.adminheader h2 {
  color: #fff;
}/*# sourceMappingURL=App.css.map */